<div id="intro">
		<div class="lightbox">
			<div class="inner intro">
				<h2>Instructions To Play</h2>
				<article>
					<h3>Please read the instructions below before carrying on!</h3>
					<div id="arrowIcon" class="box clearfix">
						<div class="icon"></div>
						<p>Use the arrow keys ↑ → ↓ ← to move around the profile exchange map.</p>
					</div>
					<div id="mouseIcon" class="box clearfix">
						<div class="icon"></div>
						<p>Alternatively use the mouse to move around the map by clicking.</p>
					</div>
					<div id="menuIcon" class="box clearfix">
						<div class="icon"></div>
						<p>Click on the menu icons in the bottom corner to view information.</p>
					</div>
					<div id="houseIcon" class="box clearfix">
						<div class="icon"></div>
						<p>Alternatively click on the houses/guards on the map to view each information.</p>
					</div>
					<div id="tabsIcon" class="box clearfix">
						<div class="icon"></div>
						<p>Click on the tabs to view the information inside each house box.</p>
					</div>					
					<div id="orbsIcon" class="box clearfix">
						<div class="icon"></div>
						<p>Click on the menu orb icons to view my social media information or this help page.</p>
					</div>
				</article>	
			</div>
		</div>
</div>
